<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <%= @friend.first_name %> <%= @friend.last_name %>
    </h1>
    <p class="col-md-8 fs-4">
      <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
    </p>
    <br/><br/>
    <div>
      <% if @friend.user == current_user %>
        <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
      <% end %>
      <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
      <% if @friend.user == current_user %>
        <%= link_to "Destroy this friend", @friend, data: { "turbo-method": :delete }, class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
